.App {
    text-align: center;
}

.container {
    max-width: 700px;
    border: 2px solid grey;
    border-radius: 6px;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.Post {
    max-width: 500px;
    margin: 0 auto;
}

.form {
    border-radius: 6px;
    background: dimgray;
    border: none;
    margin: 30px 0;
    outline: none;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.messages {
    border: none;
    border-radius: 6px;
    background: dimgrey;
    padding: 16px 0;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.button {
    padding: 12px;
    border-radius: 6px;
    border: none;
    background-color: forestgreen;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}